.plain-block{
	display:inline-block;
}
.plain-block-inner{
	font-size:18px;
	width:100px;
	height:100px;
	display:block;
	vertical-align: top;
	border:1px solid black;
	overflow:hidden;
	margin:8px;
	padding:8px;
}
.plain-block-inner img{
	max-width: 100%;
	display: block;
	margin:0 auto;
}
.text-preview-inner{
   overflow:hidden;
   height: 112px;
}
.text-preview::after{
   content:"...";
   display: block;
}
.resonance{
	font-size:12px;
	border: 1px solid black;
	border-radius: 100%;
	padding:10px;
	display: inline-block;
}

