body{
	background: #1b1b1d;
	color:#1b1b1d;
}

.plain-block{
	display:inline-block;
	max-height: 210px;
	max-width:150px;
	overflow-y: scroll;
	vertical-align: top;
	margin:8px;
	border:1px solid whitesmoke;
	border-radius:5px;
	background: #1b1b1d;

}
.plain-block-comment{
	width: 500px;
	background: whitesmoke;
}
.plain-block-comment img{
	max-width: 100%;
}
.resonance.on{
	background: yellow;
}

.plain-block-inner{
	font-size:18px;
	width:100%;
	height:100px;
	display:block;
	vertical-align: top;
	overflow:hidden;
	padding:8px;
	background: whitesmoke;
}
.plain-block-inner img{
	max-width: 100%;
	display: block;
	margin:0 auto;
}
.text-preview-inner{
   overflow:hidden;
   height: 112px;
}
.text-preview::after{
   content:"...";
   display: block;
}
.resonance, .all{
	background: white;
	font-size:10px;
	border: 1px solid black;
	border-radius: 100%;
	padding:8px;
	float:left;
	display: inline-block;
	cursor: pointer;
}
.resonance:hover, .all:hover{
  background:yellow;
}
.all.on{
	background: yellow;
}
.all{
	position: fixed;
	right:5px;
	top:5px;
	font-size:12px;
}
